---
import Layout from "../layouts/Layout.astro";
import TextSection from "../components/TextSection.astro";
import CardsSection from '../components/CardsSection.astro';
---

<Layout title="Four Card Section">
	<main class="w-full p-12 md:p-0">
		<TextSection />
		<CardsSection />
	</main>
</Layout>
