---
import Card from "./Card.astro";
---

<section class="flex flex-col items-center space-y-10 lg:space-y-0 relative w-full lg:h-[380px] mt-8">
  <Card
    borderColor="border-cyan-600"
    title="Supervisor"
    text="Monitors activity to identify project roadblocks"
    icon="/images/icon-supervisor.svg"
    firstPosition="lg:left-20"
    secondPosition="lg:top-[30%]"
  />
  <Card
    borderColor="border-red-600"
    title="Team Builder"
    text="Scans our talent network to create the optimal team for your project"
    icon="/images/icon-team-builder.svg"
  />
  <Card
    borderColor="border-orange-600"
    title="Karma"
    text="Regularly evaluates our talent to ensure quality"
    icon="/images/icon-karma.svg"
    firstPosition="lg:bottom-0"
  />
  <Card
    borderColor="border-blue-600"
    title="Calculator"
    text="Uses data from past projects to provide a better delivery estimates"
    icon="/images/icon-calculator.svg"
    firstPosition="lg:right-20"
    secondPosition="lg:top-[30%]"
  />
</section>